
<h2>Login</h2>
<table>
    <tr><td>Email:</td><td> <input type="text" id="txtEmail" /></td></tr>
    <tr><td>Password:</td> <td> <input type="password" id="txtPassword" /></td></tr>
    <tr><td>P </td><td> <button onclick="onSignIn()"> Login</button></td></tr>
</table>

<script>
    var onSignIn = () => {
        //Dom programming
        let txtUserEmail = document.getElementById("txtEmail");
        let userEmail = txtUserEmail.value;
        let txtUserPassword = document.getElementById("txtPassword");
        let userPassword = txtUserPassword.value;
        /* if (email === "ravi.tambade@gmail.com" && password === "123") {
            alert("login successful");
            }
            else {
                alert("invalid user");
            }
        */
        /* fetch('/home/signin',)
             .then(response => response.json())
             .then(data => console.log(data))
             .catch(error => console.error('Error:', error));
         */

        // Define the URL of the API endpoint
        const url = '/home/getuser';

        // Define the data to send in the request body (usually JSON)
        const credential = {
            email: userEmail,
            password: userPassword
        };

        // Use fetch API to send a POST request
        fetch(url,
            //{
            //    method: 'POST', // Specify the request method
            //    headers: { 'Content-Type': 'application/json' }, // Set content type to JSON
            //    body: JSON.stringify(credential), // Convert JavaScript object to JSON string
            //}
        )
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json(); // Parse the JSON from the response body
            })
            .then(responseData => {
                if (userEmail === responseData.Email && userPassword === responseData.Password) {
                    alert("success")
                }
                else {
                    alert("failed")
                }
                console.log('Success:', responseData); // Handle the response data
            })
            .catch(error => {
                console.error('There was an error!', error); // Handle any errors
            });
    };
</script>