
@{
    ViewBag.Title = "javascript";
}

<h2>javascript</h2>
<p id="para"> Hello</p>
<button onclick="onPushMe()">push me</button>

<script>
    { 
       /* function onPushMe() {
            let result = 89;
            let pElement = document.getElementById("para");
            pElement.innerHTML = result;
        }
       */


       /* var onPushMe=function () {
            let result = 89;
            let pElement = document.getElementById("para");
            pElement.innerHTML = result;
        }
        */

        var onPushMe = ()=> {
            let result = 89;
            let pElement = document.getElementById("para");
            pElement.innerHTML = result;
        }

    }
</script>