@using EcommerceEntities;
@{
    ViewBag.Title = "Index";
}

<!--<h2>Index</h2>
<main>
    <ul>
   /     @{
         // foreach (Ecommerceweb1.Models.Customer p in @Model)
            {
                <li>
                    <p>
                      //p.FirstName
                      //p.LastName
                        //p.ContactNo
                    </p>

                </li>
          }
       }
    </ul>
</main>    -->

<h2>Customer Profile</h2>
@{
    CustomerProfile profile = (CustomerProfile)ViewData["profile"];
    @Html.Partial("PersonalInformationView", profile.TheCustomer);

    @Html.Partial("OrderHistoryView", profile.OrderHistory);

}

<hr>

