<h1>Orders History</h1>

<table>
    <tr>
        <th>Order Date</th>
        <th>OrderId</th>
        <th>Amount</th>
        <th>Status</th>

    </tr>
    <tr>
        <td>12/11/2024</td>
        <td>4534</td>
        <td>45000</td>
        <td>Delivered</td>
    </tr>
    <tr>
        <td>12/11/2024</td>
        <td>4534</td>
        <td>45000</td>
        <td>Delivered</td>
    </tr>
</table>
<tr>
    <td>12/11/2024</td>
    <td>4534</td>
    <td>45000</td>
    <td>Delivered</td>
</tr>
<tr>
    <td>12/11/2024</td>
    <td>4534</td>
    <td>45000</td>
    <td>Delivered</td>
</tr>
