
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<form method"post" action="/employees/create">
    <table>
        <tr>
            <td> First Name</td>
            <td> <input type="text" name="firstname"</td>
        </tr>
        <tr>
            <td> Last Name</td>
            <td> <input type="text" name="lastname"</td>
        </tr>
        <tr>
            <td> Contact Number</td>
            <td> <input type="text" name="contactnumber"</td>
        </tr>
        <tr>
            <td> Email</td>
            <td> <input type="text" name="email"</td>
        </tr>
        <tr>
            <td> </td>
            <td> <button="submit"> Create</button> </td>
        </tr>
    </table>
</form>

