@using HDFCBankApp.Models;
@{
    ViewBag.Title = "Index";
    }

<h2>Customer List</h2>
@{
    List<Customer> customers = (List<Customer>)ViewData["list"];
    foreach(Customer customer in customers)
            {
              <p>@customer.Name, @customer.Location <a href="/Customer/Details/@customer.Id">details</a> </p>
            }
}

